rect {
  fill-opacity: 0.6;
  fill: steelblue;
}

.chart .input_wrap {
  font: 10px sans-serif;
  text-align: right;
}

.chart div {
  font: 10px sans-serif;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  width: auto;
  height: auto;
}
